
.idea/workspace.xml
.idea/vcs.xml
.idea/tejaspchordiya.github.io.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries/tchordiya.xml
.idea/workspace.xml___jb_tmp___
.idea/misc.xml
